.vs/
x64/
bin/
obj/
packages/
.idea/
Walphor/Save/
Walphor/DataBase/
update.bat
ІПЗ-23-4 Грушевицький Денис.docx
ІПЗ-23-4 Грушевицький Денис.pdf
ІПЗ-23-4 Грушевицький Денис.pdf.p7s
ІПЗ-23-4 Грушевицький Денис.pptx
